<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">
	
	<!-- 方式一start-->
		<!-- spirng自带任务调度 的方式-->
		<!--ref为spring注入的bean的name名称,如果使用注解注入默认为类名首字母小写,method为执行的目标方法名,cron为执行的时间(可以使用工具生成)-->
		<!-- 
		<task:scheduled-tasks>
		       <task:scheduled ref="userTask" method="showUserInfo" cron="0/3 * * * * ?"/>   
		</task:scheduled-tasks>
		 -->
	<!-- 方式一end -->
	 
	<!-- 方式二start -->
		<!-- [quartz使用] -->
		<!-- 集成quartz框架的方式  -->
		<bean id="reconciliationTask" class="com.mall.task.ReconciliationTask"/> 
		
		<bean id="hospitalCardReconciliationInfo" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		    <property name="targetObject" ref="reconciliationTask" />	<!-- 调用的类 -->
		    <property name="targetMethod" value="hospitalCardReconciliation" /> 	<!-- 调用类中的方法 -->
			<property name="concurrent" value="false"/>
		</bean>
		<bean id="hospitalCardReconciliationInfoTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">	
		    <property name="jobDetail" ref="hospitalCardReconciliationInfo" />
		    <property name="cronExpression" value="0 */1 * * * ?" />
		</bean>
		<!-- ********************** 调度 如果将lazy-init='false'那么容器启动就会执行调度程序************* -->
		<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		    <property name="triggers">
		    	<list>
					<ref bean="hospitalCardReconciliationInfoTask" />
		    	</list>
			</property>
		</bean>
	<!-- 方式二end: -->
	
</beans>