<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
                         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                         http://www.springframework.org/schema/context  
                         http://www.springframework.org/schema/context/spring-context-4.0.xsd">  
  
    <context:annotation-config />  
    
  	<!-- [spirng注解扫描]spirng容器扫描的包中，排除@Controller和@ControllerAdvice注解 -->  
   	<context:component-scan base-package="com.mall">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan> 
     
    <!-- 导入外部配置文件 -->
    <import resource="classpath:/config/spring-*.xml"/>
    
    <!-- 加载属性配置文件的方式 -->
	<!-- 加载所有配置文件 -->
    <context:property-placeholder location="classpath:properties/*.properties"/>
    <!-- 还可以是下面方式，加载多个目录中的 -->
    <!-- <context:property-placeholder location="classpath:*.properties,classpath:*/*.properties" /> -->
  
</beans>  

